.bg-green {
    background-color: #0A8080;
}
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}
.rounded-pill-active {
    border-radius: 50rem;
    background-color: #fff;
    color: #0A8080 !important;
}
.btn-green {
    color: white;
    background-color: #0A8080;
    padding: 5px 30px;
}
.btn-outline-green{
    color: #0A8080;
    border: solid 1px #0A8080;
    padding: 5px 21px;
}
.success-msg {
    display: none;
}
.error-msg {
    display: none;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
    width: 273px;
}

.bootstrap-select button{
    border: 1px solid gray;
    color: gray !important;
    border-radius: 10px;
}

.breadcrumb-item.active {
    color: #0A8080;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: #0A8080;
    background-color: #e9ecef;
}
.bootstrap-select.show-tick .dropdown-menu .selected span.check-mark,.filter-option-inner-inner {
    color: #0A8080;
}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn):hover {
    border: 1px solid gray;
    border-radius: 10px
  }


  
  @media (max-width:991px) {
    .rounded-pill-active {
        border-radius: 10px;
        background-color: #fff;
        width: 140px;
        color: #0A8080 !important;
    }
    
}